WEBPASSWORD={{ pihole_password }}
ADMIN_EMAIL=
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-dark
BLOCKING_ENABLED=true
DNSSEC=false
REV_SERVER=false
DHCP_ACTIVE=true
DHCP_START={{ pihole_dhcp_start }}
DHCP_END={{ pihole_dhcp_end }}
DHCP_ROUTER={{ pihole_dhcp_router }}
DHCP_LEASETIME={{ pihole_dhcp_lease }}
PIHOLE_DOMAIN={{ pihole_default_domain }}
DHCP_IPv6={{ pihole_dhcp_ipv6 }}
DHCP_rapid_commit={{ pihole_dhcp_rapid_commit }}
PIHOLE_INTERFACE=
IPV4_ADDRESS={{ ipv4_address }}
IPV6_ADDRESS={{ ipv6_address }}
PIHOLE_DNS_1={{ pihole_upstream_dns_1 }}
PIHOLE_DNS_2={{ pihole_upstream_dns_2 }}
QUERY_LOGGING={{ pihole_log_dns_queries }}
INSTALL_WEB_SERVER={{ pihole_install_web_server }}
INSTALL_WEB_INTERFACE={{ pihole_install_web_interface }}
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED={{ pihole_dns_fqdn_required }}
DNS_BOGUS_PRIV={{ pihole_dns_bogus_priv }}
DNSMASQ_LISTENING=all
TEMPERATUREUNIT=C
